@model UsersPage  
@{
    ViewData["Title"] = "View";
}

<div class="board starter">
    <div class="container">
        <h2>List of users</h2>
        <hr />
        @foreach (var usr in Model.Items)
        {
            <div>
                @($"{usr.FirstName} {usr.LastName} ({usr.OnlineStatus})")
            </div>
        }
    </div>
</div>

